<div 
    class="page-header" data-parallax="true" 
    style="object-fit: cover; background-image: url('./assets/img/wallpaper.gif');"
>
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Gtopia</h1>
            <h3>Technology is our future</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
    <div
        snInViewport
        (inViewportChange)="onInViewportChange($event)"
        class="container"
    >
        <div
            *ngIf="isVisible"
            [@enterLetterAnim1]="{value: '', params: { delay: 150 }}"
            class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 
                    class="title">Let's talk products</h2>
                <h5 class="description">Our vision is to build applications which can improve our daily life </h5>
                <br>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
        </div>
        <br/><br/>
        <div *ngIf="isVisible">
            <div class="row">
                <div class="offset-md-3"></div>
                <div
                    class="col-md-3"            
                    *ngFor="let project of projects" 
                    [@enterLetterAnim1]="{value: '', params: { delay: (project.index + 1) * 150 }}">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon {{project.icon}}"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">{{project.name}}</h4>
                            <p class="description">{{project.description}}</p>
                            <a href="{{project.ref}}" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div
        snInViewport
        (inViewportChange)="onTeamInViewportChange($event)" 
        class="container">
        <h2 *ngIf="isTeamVisible" [@enterLetterAnim1]="{value: '', params: { delay: 150 }}"
            class="title">Let's talk about us</h2>
        <div *ngIf="isTeamVisible" [@enterLetterAnim1]="{value: '', params: { delay: 150 }}" class="row">
            <div class="col-md-4" *ngFor="let member of teamMembers">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="{{member.photoUrl}}" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">{{member.name}}</h4>
                                <h6 class="card-category">{{member.position}}</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            {{member.talk}}
                        </p>
                    </div>
                    <!-- <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">We still need developers!!</h2>
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
